*{
  font-family: 'Questrial', sans-serif;
}

a {
  color: #ffff;
}

h4{
  line-height: 100%;
}

li {
  list-style: square;
}

ul li{
  display: inline;
}

p {
  line-height: 2rem;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.parallax-container {
  min-height: 380px;
  width: 100%;
  line-height: 0;
  height: auto;
  color: RGBA(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

.js {
  width: 8%;
  margin-bottom: 2%;
}

.form {
  width: 18%;
  height: 18%;
  margin-right: 3.5px;
}

.badges {
  border: 2px solid black;
  width: 15%;
  border-radius: 100px;
  margin-left: 3px;
}

@media only screen and (min-width: 601px){
  .btn-floating{
    background-color: #3C91E6;
    bottom: 20%;
    margin-left: 1%;
    font-size: 1.2rem;
  }
  .container {
  width: 99%;
  }
  .form {
    width: 8%;
    height: 10%;
    margin-right: 3.5px;
  }
  .js {
    width: 5.2%;
    margin-bottom: 1%;
  }
}

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 1%;
  }
  .btn-floating{
    background-color: #3C91E6;
    bottom: 40%;
    margin-left: 1%;
  }
  .carousel {
    height: 200px;
  }
}

@media only screen and (max-width : 600px) {

  .btn-floating{
    background-color: #3C91E6;
    bottom: 40%;
    margin-left: 1%;
    font-size: 1.2rem;
  }
  .container {
      bottom: 10%;
  }
}

.btn-floating:hover{
  background-color: #888995;
}

.social {
  background-color: #3C91E6;
}

.opa-gra {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
}

.one {
  background-color: #8BCBD5;/*celeste*/
  border-radius: 15px;
}

.two {
  background-color: #EFD9CE;/*rosa*/
  border-radius: 15px;
}

.three {
  background-color: #AF70A8;/*morado*/
  border-radius: 15px;
}

.page-footer {
  background-color: #AF70A8;
}

.margin-bottom {
  margin-bottom: 2%;
}

.margin-top1 {
  margin-top: 5%;
}

.left-align {
    text-align: center;
}

.world {
  margin-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
