
*{
  font-family: 'Questrial', sans-serif;
}

ul li{
  display: inline;
}

p {
  line-height: 2rem;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.parallax-container {
  min-height: 380px;
  width: 100%;
  line-height: 0;
  height: auto;
  color: RGBA(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

.js {
  width: 12%;
  margin-bottom: 2%;
}

.form {
  width: 18%;
  height: 18%;
  margin-right: 3.5px;
}

.badges {
  border: 2px solid black;
  width: 15%;
  border-radius: 100px;
  margin-left: 3px;
}

@media only screen and (min-width: 601px){
.container {
  width: 70%;
  }
  .form {
    width: 10%;
    height: 10%;
    margin-right: 3.5px;
  }
  .js {
    width: 6.8%;
    margin-bottom: 1%;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 25%;
  }
  #index-banner .section {
    top: 20%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 5%;
  }
}

.btn-floating{
  background-color: #3C91E6;
}

.btn-floating:hover{
  background-color: #888995;
}

.social {
  background-color: #3C91E6;
}

.opa-gra {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
}

.one {
  background-color: #8BCBD5;
  border-radius: 15px;
}

.two {
  background-color: #EFD9CE;
  border-radius: 15px;
}

.three {
  background-color: #AF70A8;
  border-radius: 15px;
}

.page-footer {
  background-color: #AF70A8;
}

.margin-bottom {
  margin-bottom: 2%;
}

.margin-top1 {
  margin-top: 5%;
}

a {
  color: #ffff;
}

.a ul{
  list-style-type: circle;
}
